<div class="content_navarlast">
    <div class="content">
        <div class="line1">
            <a href="/">Home</a>
            <a href="{% url 'about-us' %}">About us</a>
        </div>
        <div class="line2">
            <p>© 2021 - 2022 Moon and the Sun. All Rights Reserved.</p>
        </div>
    </div>
</div>

<style>
    .content_navarlast{
        background-color: #8C60BD;
        padding: 30px 10px;
        text-align: center;
        margin-top: 30px
    }
    .content_navarlast .content .line1{
        margin-bottom: 20px;
    }
    .content_navarlast .content .line1 a{
        margin: 0 10px;
        text-decoration: none;
        color: white;
        font-size: 18px;
    }
    .content_navarlast .content .line1 a:hover{
        color: rgb(105, 105, 105);
    }
    .content_navarlast .content .line2 p{
        color: rgb(220, 220, 220);
        font-size: 15px;
    }
</style>