{% extends 'main.html' %}

 {% block content %}
 

 <div class="room-container">
    <div class="content">
        <div class="line1">
            <a href="{% url 'home' %}"><</a>
            <h1>{{room.name}}</h1>
        </div>
        <div class="line2">
            <h1>{{room.name}}</h1>
            <div class="details">
                <p>{{room.desription}}</p>
            </div>
        </div>
      
    </div>
       
    
    

</div>

<style>
    .room-container{
       
        padding: 10px 70px;
        
    } 
    .room-container .content{
        background-color: #3F4156;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    
    .room-container h1{
        color: white;
        font-size: 20px;
    }
    .room-container .line1{
        display: flex;
        background-color: #696D97;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding-left: 20px;
        align-items: center;
    }
    .room-container .line1 a{
        color: white;
        text-decoration: none;
        font-size: 20px;
        font-weight: bolder;
        padding: 10px 0;
        margin-right: 10px;
    }
    .room-container .line1 a:hover{
        color: rgb(181, 181, 181);
    }
    .room-container .line2 h1{
        padding: 20px 20px;
        font-size: 30px;
        margin-left: 20px;
        color: #71C6DD;
    }
    .room-container .details{
        margin-top: 20px;
        padding: 10px 20px 50px 20px;
    }
    .room-container .details p{
        color: rgb(209, 209, 209);
        font-size: 18px;
    }

   
    
    
    

</style>

 {% endblock content %}
 